@import "./mixins";


.grow-transition {
  transition: all .7s ease;
  overflow: hidden;
}

.animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

.content-common {
  padding-bottom: 100px;
  padding-left: 55px;
  padding-right: 55px;
  width: 100%;
  height: 100%;
  @include desktop() {
    padding-bottom: 45px;
  }
  @include laptop-max() {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include tablets() {
    padding-bottom: 10px;
  }

  @include phones() {
    padding-bottom: 15px;
  }
}

.text-medium {
  font-size: 40px;
  color: #fff;
  font-family: "Helvetica-Light", sans-serif;
  line-height: 1.3;
  @include desktop() {
    font-size: 33px;
  }
  @include phones() {
    font-size: 21px;
  }
}

.fadeHeight-enter-active {
  transition: all 0.2s;
  max-height: 230px;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
  opacity: 0;
  max-height: 0px;
}

.common-aside {
  padding: 50px 37px 10px 35px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.step-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.step-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.step-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.content-btns-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablets() {
    position: relative;
    order: 2;
  }
}

.content-description {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 200px);
  min-height: 92px;
  z-index: 1;
  @include desktop() {
    min-height: 70px;
  }
  @include phones() {
    width: 100%;
    margin-bottom: 15px;
  }
}

.content-description-text-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-description-text {
  font-family: "Helvetica-Roman", sans-serif;
  font-size: 26px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  margin: 0;
  @include desktop() {
    font-size: 21px;
  }
  @include phones() {
    font-size: 17px;
  }
  &.big {
    text-transform: uppercase;
    font-size: 46px;
    line-height: 1.2;
    font-family: "MyriadPro-Regular", sans-serif;
    @include desktop() {
      font-size: 40px;
    }
    @include phones() {
      font-size: 25px;
    }
  }

  &.medium {
    font-size: 36px;
    @include desktop() {
      font-size: 33px;
    }
    @include phones() {
      font-size: 23px;
    }
  }
}

.group-btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablets() {
    width: 100%;
    justify-content: space-between;
  }
}

.uppercase {
  text-transform: uppercase;
}

.hidden-lg {
  @include desktop() {
    display: none;
  }
}

.hidden-sm {
  @include tablets() {
    display: none;
  }
}


.hidden-xs {
  @include phones() {
    display: none;
  }
}