.diseases-content {
  background-image: -moz-linear-gradient( -40deg, rgb(255,139,254) 0%, rgb(198,156,253) 43%, rgb(141,173,252) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(255,139,254) 0%, rgb(198,156,253) 43%, rgb(141,173,252) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(255,139,254) 0%, rgb(198,156,253) 43%, rgb(141,173,252) 100%);

  .human-img-wrapper {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
  }

  .heart-part {
    position: absolute;
    left: 51%;
    top: 28%;
  }

  .step-1 {
    .content-description-text.big {
      margin-bottom: 20px;
    }
  }

  .brain-part {
    position: absolute;
    right: 50%;
    top: 13%;
  }

  .step-2 {
    .content-description-text-wrapper {
      transform: translateY(20%);
    }
  }

  .vesseles-part {
    position: absolute;
    left: 51.5%;
    top: 54%;
  }

  .revmocardite-part {
    position: absolute;
    left: 20%;
    top: 28%;
  }

  .break-heart-part {
    position: absolute;
    left: 50%;
    top: 28%;
  }

  .lungs-part {
    position: absolute;
    left: 22.2%;
    top: 29%;
  }

  .step-6 {
    .content-description {
      transform: translateY(27%);
    }
  }

}