@import "../../../assets/scss/mixins";

.burger {
  display: none;
  width: 64px;
  height: 42px;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  transition: all .2s ease-out;

  @include tablets() {
    display: flex;
  }
  @include phones() {
    width: 36px;
    height: 24px;
  }

  .burger-lines {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .burger-line {
    background-color: #12bea9;
    display: inline-block;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    transition: all .2s ease-out;
    &.top {
      left: 0;
      top: 0;
    }
    &.middle {
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    &.bottom {
      left: 0;
      bottom: 0;
    }
  }

  &.active {
    @include tablets() {
      transition: all .2s ease-out;

      .burger-line {
        transition: all .2s ease-out;
        transform-origin: center;
      }

      .burger-line.top {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      .burger-line.middle {
        opacity: 0;
      }

      .burger-line.bottom {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }
}
