.myths-content {
  background-image: -moz-linear-gradient( 51deg, rgb(60,188,241) 0%, rgb(207,128,226) 45%, rgb(230,135,146) 69%, rgb(253,141,66) 100%);
  background-image: -webkit-linear-gradient( 51deg, rgb(60,188,241) 0%, rgb(207,128,226) 45%, rgb(230,135,146) 69%, rgb(253,141,66) 100%);
  background-image: -ms-linear-gradient( 51deg, rgb(60,188,241) 0%, rgb(207,128,226) 45%, rgb(230,135,146) 69%, rgb(253,141,66) 100%);

  .content-description {
    margin-bottom: 24px;
  }

  .step-img-wrapper {
    align-items: flex-end;
  }
}