@import "../../../assets/scss/mixins";

.diseases-alert-content {
    background-image: -moz-linear-gradient( -135deg, rgb(249,64,33) 0%, rgb(237,173,0) 53%, rgb(150,188,20) 82%, rgb(62,202,39) 100%);
    background-image: -webkit-linear-gradient( -135deg, rgb(249,64,33) 0%, rgb(237,173,0) 53%, rgb(150,188,20) 82%, rgb(62,202,39) 100%);
    background-image: -ms-linear-gradient( -135deg, rgb(249,64,33) 0%, rgb(237,173,0) 53%, rgb(150,188,20) 82%, rgb(62,202,39) 100%);
    background-image: linear-gradient( -135deg, rgb(249,64,33) 0%, rgb(237,173,0) 53%, rgb(150,188,20) 82%, rgb(62,202,39) 100%);

    .step-img-wrapper {
        @include phones() {
            align-items: flex-end;
        }
        img {
            @include desktop() {
                max-height: 430px;
            }
            @include phones() {
                max-height: 222px;
            }
        }
    }
}