@import "../../../assets/scss/mixins";

.aside {
  width: 378px;
  background-color: #fff;
  padding-left: 55px;
  flex-shrink: 0;
  padding-bottom: 100px;
  padding-top: 104px;

  @include desktop() {
    width: 345px;
  }

  @include laptop-max() {
    width: 300px;
    padding-left: 10px;
  }

  @include tablets() {
    display: none;
  }
}