@import "../../../assets/scss/mixins";

.mobile-menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  transition: all .2s ease-out;

  &.closed {
    transform: translate(-100%);
    transition: all .2s ease-out;
  }

  .nav-list {
    height: 100%;
    width: 70%;
    position: relative;
    z-index: 3;
    background-color: #fff;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 140px;
    padding-left: 60px;
    @include phones() {
      padding-top: 105px;
      padding-left: 15px;
    }
  }

  .nav-item {
    max-width: 80%;
    &.active {
      .nav-link {
        font-weight: bold;
      }

      .submenu-wrapper {
        opacity: 1;
        max-height: 500px;
        transition: all .2s;
        pointer-events: all;
      }
    }
  }

  .nav-link {
    font-size: 27px;
    text-align: left;
    max-width: 80%;
    @include phones() {
      font-size: 16px;
    }
  }

  .submenu-wrapper {
    padding-left: 60px;
    padding-top: 20px;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    transition: all .2s;
    @include phones() {
      padding-left: 40px;
      padding-top: 15px;
    }
  }

  .nav-sub-menu-subtext {
    @include phones() {
      font-size: 12px;
    }
  }

  .nav-sub-menu-link {
    @include phones() {
      font-size: 16px;
    }
  }

}

.mobile-menu-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}