@import "../../../../assets/scss/mixins";

.start-aside {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 25px;
  position: relative;

  &.visible {
    display: flex;
  }

  .cardio-check {
    position: absolute;
    z-index: 1;
    left: -55px;
    top: 50%;
    width: auto;
    transform: translate(0, -61%);
    max-width: 960px;
    @include desktop() {
      max-width: 681px;
    }
  }
}